<template>
	<div class="container">
		<h3>Search Form</h3>
		<div class="row">
			<div class="col-md-4">
				<form @submit.prevent="submit">
				<div class="form-group">
				<label>Name</label>
					<!-- <v-autocomplete :items="items" 
						:get-label="getLabel" 
						v-model="searchForm.name"
						:component-item='template' 
						@update-items="updateItems">
					</v-autocomplete> -->
					<input type="text" class="form-control" v-model="searchForm.name">
				</div>
				<div class="form-group">
					<label for="amount">Price range:</label>
					<input type="text" id="amount" readonly>
					<div id="slider-range"></div>
				</div>
				<div class="form-group">
					<label>Bedrooms</label>
					<input type="number" class="form-control" v-model="searchForm.bedrooms">
				</div>
				<div class="form-group">
					<label>Bathrooms</label>
					<input type="number" class="form-control" v-model="searchForm.bathrooms">
				</div>
				<div class="form-group">
					<label>Storeys</label>
					<input type="number" class="form-control" v-model="searchForm.storeys">
				</div>
				<div class="form-group">
					<label>Garages</label>
					<input type="number" class="form-control" v-model="searchForm.garages">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">Search</button>
				</div>
				</form>
			</div>
			<div class="col-md-8">
				<div class="result">
					<table class="table table striped table-hover">
						<thead>
							<th>NAME</th>
							<th>PRICE</th>
							<th>BEDROOMS</th>
							<th>BATHROOMS</th>
							<th>STOREYS</th>
							<th>GARAGES</th>
						</thead>
						<tbody v-if="loader">
							<tr>
								<td colspan="6" align="center">
									<pulse-loader></pulse-loader>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr v-if="results === null">
								<td colspan="6" align="center">
									No results were found
								</td>
							</tr>
							<tr v-else v-for="result in results">
								<td v-text="result.name"></td>
								<td v-text="result.price"></td>
								<td v-text="result.bedrooms"></td>
								<td v-text="result.bathrooms"></td>
								<td v-text="result.storeys"></td>
								<td v-text="result.garages"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import ItemTemplate from './itemTemplate.vue'
export default {
  components: {
    PulseLoader
  },
  data () {
    return {
	  results: null,
	  searchForm: new Form({
	  	name: '',
	  	price: [],
	  	bedrooms: '',
	  	bathrooms: '',
	  	storeys: '',
	  	garages: ''
	  }),
      items: [],
      template: ItemTemplate,
      loader: false
    }
  },
  mounted () {
  	this.getItems()
  	this.sliderRange()
  },
  methods: {
  	getItems () {
  		axios.get('/api/items-list')
  			.then(response => {
  				this.items = response.data.items
  			})
  	},
    getLabel (item) {
      return item.name
    },
    updateItems (text) {
      yourGetItemsMethod(text).then( (response) => {
        this.items = response.items
      })
    },
    sliderRange () {
    	var self = this
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 999999,
			values: [ 10000, 900000 ],
			slide: function( event, ui ) {
				let range_from = ui.values[ 0 ]
				let range_to = ui.values[ 1 ]
				$( "#amount" ).val( range_from + " - " + range_to );
				self.searchForm.price = [range_from, range_to]
			}
		});
    	let range_from_val = $( "#slider-range" ).slider( "values", 0 )
    	let range_to_val = $( "#slider-range" ).slider( "values", 1 )
    	self.searchForm.price = [range_from_val, range_to_val]

		$( "#amount" ).val( range_from_val +
			" - " + range_to_val );

	  	$('.v-autocomplete-input').attr('required', 'required')
    },
    submit () {
    	this.loader = true
    	console.log(this.searchForm)
    	setTimeout(2000)
    	this.searchForm.post('/api/search')
    		.then(response => {
    			this.loader = false
    			this.results = response.results
    			this.searchForm.price = response.priceRange
    		}).catch(error => {
    			this.loader = false
    			this.results = null
    		})
    }
  }
}
</script>

<style lang="stylus">
.v-autocomplete
  .v-autocomplete-input-group
    .v-autocomplete-input
    	display block
    	width 100%
    	padding 0.375rem 0.75rem
    	font-size 0.9rem
    	line-height 1.6
    	color #495057
    	background-color #fff
    	background-clip padding-box
    	border 1px solid #ced4da
    	border-radius 0.25rem
    	transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
  .v-autocomplete-list
    width 100%
    text-align left
    border none
    border-top none
    max-height 400px
    overflow-y auto
    border-bottom 1px solid #157977
    z-index 99
    .v-autocomplete-list-item
      cursor pointer
      background-color #fff
      padding 10px
      border-bottom 1px solid #157977
      border-left 1px solid #157977
      border-right 1px solid #157977
      &:last-child
        border-bottom none
      &:hover
        background-color #eee
      abbr
        opacity 0.8
        font-size 0.8em
        display block
        font-family sans-serif
</style>

<style>
	.slider-handle {
		background-color: #2c3e50;
		background-image: linear-gradient(to bottom,#2c3e50 0,#2c3e50 100%);
		background-repeat: repeat-x;
	}
	.slider.slider-horizontal {
		width: 100%;
	}
	.range_to_value {
		display: block;
		float: right;
	}
	#amount {
		border:0; 
		color:#f6931f; 
		font-weight:bold; 
		background: transparent;
	}
</style>